body {
  background-color: #F8F7FA;
}

a.navbar-brand, a.navbar-brand:visited {
  color: #E62C08;
  font-size: 30px;
  font-weight: 500;
  margin-left: 10px;
}
.headerimage {
  position: absolute;
  top: 61px;
  height: 350px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  filter: blur(20px) brightness(.8);
}

.event-details {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
}

.event-details img.event-image {
  width: 100%;
}

.content-container {
  padding-top: 100px;
}

.event-form-container {
  margin-top: 100px;
  box-sizing: border-box;
}

.event-form-homepage-container {
  margin-left: -15px;
}

.event-form-container .card {
  padding: 20px;
}

.event-date-abbreviated {
  line-height:1;
  margin: 0;
  padding: 0;
}

.event-price {
  position: absolute;
  bottom: 20px;
}

.row.event-register-button-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px 0px;
  border-color: #DBDAE3;
}

.event-description-container {
  padding: 60px;
  background: white;
}

a.event-card-link, a.event-card-link:hover {
  color: #333333;
  text-decoration: none;
}

.event-card {
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

.event-card img {
  width: 100%;
  display: block;
}

.event-card-datetime {
  color: #d1410c;
}
